-if flash[:notice] 
  %p#notice= notice
%section.content
  .cWrapper
    .bsTitle 
      Авторизация
    .wrapper.contentBox
      .cbContent.noinNav  
        -if admin?
          %h2 Вы уже авторизированы
        -else
          = render 'form'
    .clear
      