- title "Главная"
-if flash[:notice]
  %p#notice= notice
%section.content
  .cWrapper
    .cat
      .textbox
        %h1.title
          О компании
        %p
          mySupermarket is a new type of supermarket that allows you to compare prices and shop online from the main UK retailers in one place. Our aim is to help you save time and money while giving you the best possible online shopping experience. 
      .textbox
        %h1.title
          Еще раздел 
        %p
          mySupermarket is a new type of supermarket that allows you to compare prices and shop online from the main UK retailers in one place. Our aim is to help you save time and money while giving you the best possible online shopping experience.                     
    .clear
