- title "Главная"
-if flash[:notice]
  %p#notice= notice
%header.index.botWLine
  %a.logo{:href => root_path}
  .rightBox
    #sign
      %div.profile Позвоните нам
    %ul.userNav
      %li
        адрес: г.Рубцовск, ул.Щетинкина, 5
      %li
        т.: 89628147485
      %li.clearfix     
%section#slider
  .sliderWrap
    .item
      .sliderBox
        %h1
          \вкусные идеи
          %br для летнего меню
        %h2
          \С НОВЫМИ МОРЕПРОДУКТАМИ
          %br ОТ ГЛОБУС ГУРМЭ
        %a.goBuy.goBut{:href => "#"} к покупкам
      %img.sliderImg{:alt => "", :src => "#{asset_path('slide1.png')}"}/
    .item
      .sliderBox
        %h1
          \Какая-то вафельная
          %br туфта для Вас
        %h2
          \Фотойте еду для  истограма
          %br дома, хипстеры
        %a.goBuy.goBut{:href => "#"} к покупкам
      %img.sliderImg{:alt => "", :src => "#{asset_path('slide2.png')}"}/
%nav#inNav
  %ul
    %li
      %a{:href => products_path}
        %span Каталог
    %li
      %a{:href => about_path}
        %span Контакты
    %li
      %a{:href => neworder_path}
        %span Оставить заявку
%section#infoAbout.wrapper
  .item
    .iconIA1.iconIA
    .infoAboutText
      18 супермаркетов и 98 различных
      \минимаркетов одном месте
  .item
    .iconIA2.iconIA
    .infoAboutText
      \Покупаете не выходя из дома,
      \не тратя время на поезду. Лишь
      20 мин на выбор и заказ товара
  .item
    .iconIA3.iconIA
    .infoAboutText
      \Доставка в удобный для вас
      \день и время
  .item
    .iconIA4.iconIA
    .infoAboutText
      \Мы любим наших клиентов
      \и постоянно дарим им подарки
  .clear
.dirtyLine
%section.infoBlock.wrapper
  .item Сохраняются данные - адреса, список покупок, избранное и всегда можно повторить заказ
  .item При регистрации вы получаете приятный бонус в размере 400 рублей на ваш счет!
  .item Сохраняются данные - адреса, список покупок, избранное и всегда можно повторить заказ
  .item
    %a.blueButton{:href => neworder_path} Оставить заявку
  .clear
%section#lostInfo.wrapper
  .boxWrapper
    .abountUs
      .title О нас
      .text
        mySupermarket is a new type of supermarket that allows you to compare prices and shop online from the main UK retailers in one place. Our aim is to help you save time and money while giving you the best possible online shopping experience.
        %br
        %br
        We offer 2 types of shop: Groceries and Health  Beauty. All you have to do is select your favourite retailer - Tesco, ASDA, Sainsbury's, Waitrose, Ocado, Boots or Superdrug and start shopping!
        %br
        %br
        It's up to you how you use our site: You can order your basket online, print your basket as a shopping list and take it with you to your local supermarket or simply just compare different supermarket prices online.