= form_for @order, :html => {:class => 'userdata'} do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} ошибок, которые мешают сохранить:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label(:name, class:"litleTitle")
    = f.text_field :name
  .field.clearfix
    = f.label(:surname, class:"litleTitle")
    = f.text_field :surname
  .field
    = f.label(:phone, class:"litleTitle")
    = f.text_field :phone
  .field
    = f.label(:email, class:"litleTitle")
    = f.text_field :email
  .field
    = f.label(:comment, class:"litleTitle")
    = f.text_area :comment
  .actions
    = f.submit('Сохранить', class:"blueButton")