%h1 Listing orders

%table
  %thead
    %tr
      %th Name
      %th Surname
      %th Phone
      %th Email
      %th Comment
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.surname
        %td= order.phone
        %td= order.email
        %td= order.comment
        %td= link_to 'Show', order
        - if admin?
          %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }
