%p#notice= notice

%p
  %b Name:
  = @order.name
%p
  %b Surname:
  = @order.surname
%p
  %b Phone:
  = @order.phone
%p
  %b Email:
  = @order.email
%p
  %b Comment:
  = @order.comment
- if admin?
  = link_to 'Edit', edit_order_path(@order)
  \|
= link_to 'Back', orders_path
