Новая заявка от #{@order.name} #{@order.surname}
\===============================================

ТоварищЪ #{@order.name} #{@order.surname}, 
желает обсудить деликатную тему, его сообщение:
#{@order.comment} 
Связаться с товарищем #{@order.surname}, 
Вы можете позвонив по телефону #{@order.phone}, 
а так же отправив телеграмму на #{@order.email}.
Ваш горисполком! 