!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Новая заявка от #{@order.name} #{@order.surname}
    %p
      ТоварищЪ #{@order.name} #{@order.surname}, 
      желает обсудить деликатную тему, его сообщение:
      #{@order.comment} 
      %br/
    %p
      Связаться с товарищем #{@order.surname}, 
      Вы можете позвонив по телефону #{@order.phone}, 
      а так же отправив телеграмму на #{@order.email}.
      Ваш горисполком! 