@font-face {font-family: 'PT Sans';
  src: url('pts55f_w.eot');
  src: local('PT Sans'), 
  url(font-path('PTS55F_W.woff')) format('woff'),
  url(font-path('PTS55F_W.ttf')) format('truetype'), 
  url(font-path('PTS55F_W.svg#PTSans-Regular')) format('svg');}
@font-face {font-family: 'PT Sans';
  font-style: italic;
  src: font-url('pts56f_w.eot');
  src: local('PT Sans Italic'), 
  font-url('PTS56F_W.woff') format('woff'),
  font-url('PTS56F_W.ttf') format('truetype'), 
  font-url('PTS56F_W.svg#PTSans-Italic') format('svg');}
@font-face {font-family: 'PT Sans';
  src: font-url('pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), 
  font-url('PTS75F_W.woff') format('woff'),
  font-url('PTS75F_W.ttf') format('truetype'), 
  font-url('PTS75F_W.svg#PTSans-Bold') format('svg');}
@font-face {font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: font-url('pts76f_w.eot');
  src: local('PT Sans Bold Italic'), 
  font-url('PTS76F_W.woff') format('woff'),
  font-url('PTS76F_W.ttf') format('truetype'), 
  font-url('PTS76F_W.svg#PTSans-BoldItalic') format('svg');}
@font-face {font-family: 'PT Sans Caption';
  src: font-url('ptc55f_w.eot');
  src: local('PT Sans Caption'), 
  font-url('PTC55F_W.woff') format('woff'),
  font-url('PTC55F_W.ttf') format('truetype'), 
  font-url('PTC55F_W.svg#PTSans-Caption') format('svg');}
@font-face {font-family: 'PT Sans Caption';
  font-weight: bold;
  src: font-url('ptc75f_w.eot');
  src: local('PT Sans Caption Bold'), 
  font-url('PTC75F_W.woff') format('woff'),
  font-url('PTC75F_W.ttf') format('truetype'), 
  font-url('PTC75F_W.svg#PTSans-CaptionBold') format('svg');}
@font-face {font-family: 'PT Sans Narrow';
  src: font-url('ptn57f_w.eot');
  src: local('PT Sans Narrow'), 
  font-url('PTN57F_W.woff') format('woff'),
  font-url('PTN57F_W.ttf') format('truetype'), 
  font-url('PTN57F_W.svg#PTSans-Narrow') format('svg');}
@font-face {font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: font-url('ptn77f_w.eot');
  src: local('PT Sans Narrow Bold'), 
  font-url('PTN77F_W.woff') format('woff'),
  font-url('PTN77F_W.ttf') format('truetype'), 
  font-url('PTN77F_W.svg#PTSans-NarrowBold') format('svg');}