footer{
  @include box-shadow(0, -2px, 6px, rgba(0,0,0,.16));
  background-color: #2d3537;
  padding: 20px 0;
  margin-top: 40px;
  .logo{
    height: 82px;
    width: 198px;
    background-image: asset-url('flogo.png');
  }
  .footerWrapper{
    position: relative;
    width: 960px;
    margin: 0 auto;
  }
  .leftFotterBox{
    width: 240px;
    height: 120px;
    float: left;
  }

  .footerSocial{
    display: inline-block;
    margin: 0px 0 0 -20px;
    padding: 0px;
  }
  .footerSocial li{
    display: block;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 0 2px;
    float: left;
    @include border-radius(50%);
  }
  .footerSocial li:hover{

  }
  .footerSocial a{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: asset-url('headerSocial.png');
  }
  .footerSocial li .ok{
    background-position: 0 -30px;
  }
  .footerSocial li:hover .ok{
    background-position: 0 0px;
  }
  .footerSocial li .fb{
    background-position: -30px -30px;
  }
  .footerSocial li:hover .fb{
    background-position: -30px 0;
  }
  .footerSocial li .vk{
    background-position: -60px -30px;
  }
  .footerSocial li:hover .vk{
    background-position: -60px 0;
  }
  .footerSocial li .rss{
    background-position: -90px -30px;
  }
  .footerSocial li:hover .rss{
    background-position: -90px 0;
  }
  .footerSocial li .tw{
    background-position: -120px -30px;
  }
  .footerSocial li:hover .tw{
    background-position: -120px 0;
  }
  .copirate{
    margin: 25px 0 5px 0;
    text-align: center;
    font-size: 12px; color: #fdfdfd;
  }
  .footerNav{
    float: right;
    margin: 0;
    padding: 0;
    .fnItem{
      width: 170px;
      float: left;
      line-height: 18px;
      position: relative;
      .title{
        font-size: 12px; font-weight: bold; color: #78bd47;
      }
      ul{
        margin: 0;
        padding: 0;
        li{
          font-size: 12px; color: #f6f6f6;
          a{
            color: #f6f6f6;
            text-decoration: none;
          }
        }
      }
    }
  }
}
