// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cat{
    width: 70%;
    margin: 0 auto;
    .catitem{
    	width: 100%;
    	min-height: 100px;
    	margin-bottom: 30px;
    	background-color: #fff;
    	padding: 10px;
        @include border-radius(4px);
        @include box-sizing(border-box);
        a.imga{
        	display: block;
        	width: 300px;
            @include border-radius(4px);
            @include box-sizing(border-box);
            overflow: hidden;
            float:left;
            img{	
	            @include border-radius(4px);
	            @include box-sizing(border-box);
	            display: block;
            }
        }
        .textbox{
        	margin-left: 320px;
        	font-family: "PT Sans";
        }
    }
    #kotl{
		a{
		    img{
		          background-image:asset-url('kotl.JPG');          
		          width: 300px;	
		          height: 300px;
		      }
		  }
    }
    #pech{
		a{
		    img{
		          background-image:asset-url('pech.jpeg');          
		          width: 300px;	
		          height: 300px;
		          background-size: cover;
		      }
		  }
    }
}