= form_for @product, :html => {:class => 'userdata', :multipart => true} do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :producttype
    = f.number_field :producttype
  .field
    = f.file_field :pictures
  .field
    = f.label :brief
    = f.text_area :brief
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit('Сохранить', class:"blueButton")
