%section.content
  .cWrapper
    .bsTitle Редактирование продукта
    .wrapper.contentBox
      .cbContent.noinNav
        = render 'form'
        %a.blueButton.backbut{:href => product_path(@product)} Показать
        %a.blueButton.backbut{:href => products_path} Назад 
    .clear