-if flash[:notice]
  %p#notice= notice
%section.content
  .cWrapper
    -if @products
      .cat
        - @products.each do |product|
          .catitem
            %a.imga{:href => product_path(product)}
              = image_tag product.pictures.url(:thumb) 
            .textbox
              %p
                = product.brief
              .pricebox
                #{product.price} руб.
              %a.blueButton.backbut{:href => product_path(product)} Подробнее
              - if admin?
                .adminbox
                  = link_to 'Редактировать', edit_product_path(product)
                  = link_to 'Удалить', product, :method => :delete, :data => { :confirm => 'Уверены?' }
            .clear       
    -else
      .cat
        #kotl.catitem
          %a.imga{:href => products_type_path(1)}
            %img
          .textbox
            %h1.title
              Отопительные котлы
            %p
              mySupermarket is a new type of supermarket that allows you to compare prices and shop online from the main UK retailers in one place. Our aim is to help you save time and money while giving you the best possible online shopping experience.
            %a.blueButton.backbut{:href => products_type_path(1)} Подробнее           
          .clear  
        #pech.catitem
          %a.imga{:href => products_type_path(2)}
            %img
          .textbox
            %h1.title
              Отопительные печи
            %p
              mySupermarket is a new type of supermarket that allows you to compare prices and shop online from the main UK retailers in one place. Our aim is to help you save time and money while giving you the best possible online shopping experience.
            %a.blueButton.backbut{:href => products_type_path(2)} Подробнее          
          .clear    
  - if admin?
    %a.blueButton.backbut{:href => new_product_path} Добавить продукт
