%section.content
  .cWrapper
    .bsTitle Новый продукт
    .wrapper.contentBox
      .cbContent.noinNav
        = render 'form'
        %a.blueButton.backbut{:href => products_path} Назад 
    .clear
