-if flash[:notice]
  %p#notice= notice
%section.content
  .cWrapper
    .cat
      .catitem
        %a.imga
          = image_tag @product.pictures.url(:thumb) 
        .textbox
          %p
            = @product.description
          .pricebox
            #{@product.price} руб.
          - if admin?
            .adminbox
              = link_to 'Редактировать', edit_product_path(@product)
              = link_to 'Удалить', @product, :method => :delete, :data => { :confirm => 'Уверены?' }
        .clear  
%a.blueButton.backbut{:href => products_type_path(@product.producttype)} Назад