%footer
  .footerWrapper
    .leftFotterBox
      %a.logo{:href => "#"}
    .footerNav
      .fnItem
        .title Информация
        %ul
          %li
            %a{:href => "#"} О нас
          %li
            %a{:href => "#"} Безопасность
          %li
            %a{:href => "#"} Советы
          %li
            %a{:href => "#"} Карта сайта
          %li
            %a{:href => "#"} Помощь
          %li
            %a{:href => "#"} Контактная информация
      .fnItem
        .title Магазины
        %ul
          %li
            %a{:href => "#"} Глобус Гурме
          %li
            %a{:href => "#"} Перекресток
          %li
            %a{:href => "#"} Азбука Вкуса
          %li
            %a{:href => "#"} Алые Паруса
      .fnItem
        .title Дополнительно
        %ul
          %li
            %a{:href => "#"} Форум
          %li
            %a{:href => "#"} Обсуждения
          %li
            %a{:href => "#"} Аналитика
          %li
            %a{:href => "#"} Рецепты
      .clear
    .clear
    .copirate © GLOBO Market 2010-2012