%header.main
  .hWrap
    %a.logo{:href => root_path}
    .rightBox
      %ul.userNav
        %li
          %a{:href => root_path} Главная
        %li
          %a{:href => products_path} Каталог
        %li
          %a{:href => neworder_path} Оставить заявку
        %li
          %a{:href => about_path} О компании
    .clear